* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

.main {
  display: grid;
  align-items: center;
  justify-content: center;
}

.speaker__ {
  display: flex;
  align-items: center;
  justify-content: center;
}

.speaker {
  width: 100px;
  margin-top: 50px;
  cursor: pointer;
}

.image_select {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.image_question {
  width: 250px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image_question.pop-up {
  transform: scale(1.2); /* Phóng to hình ảnh */
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.5); /* Tạo hiệu ứng đổ bóng */
}

.btn_control {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #f0f0f0;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
}

.btn_control:hover {
  background-color: #333;
  color: #f0f0f0;
}
